body {
margin: auto;
width: 60%;
font-family: helvetica;
color: 	#5e1d00;
border: 10px 0px 10px 10px solid #5e1d00;
border-radius: 30px;
height: 1000px;

}

.blockItems h1{
border: 10px solid #5e1d00 ;
padding: 10px;
width: 80%;
margin: auto;
background-color: #5e1d00;
color: white;
/* text-transform: uppercase; */
text-align: center;
font-weight: bolder;
border-radius: 70px;
margin-top: 50px;
margin-bottom: 50px;
}

.textArea {
    width: 60%;
    margin: auto;
}

.textArea label {
 font-weight: bolder;
}
.test {
    width: 400px;
    background-color: goldenrod;
    color: white;
    padding: 20px;
    border-radius: 30px;
    text-align: center;
    margin: auto;
}
.hey :hover {
    background-color: #5e1d00;
}
.textArea .input {
    border: 5px solid #5e1d00;
    border-radius: 30px;
    padding: 10px;
    width: 300px;
    margin-bottom: 20px;
}
.twoButtons{
    display : flex;
    width: 70%;
    margin: auto;
}

.textInput .listButton {
display: block;
margin: auto;
width: 60%;
float: right;
}

.listButton button {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    background-color: #5e1d00;
    border: #5e1d00;
    width: 150px;
    padding: 15px;
    color: white;
    border-radius: 30px;
    float: left;
    margin-right: 20px;
}
.blockItems .button {
    display: block;
    width: 60%;
    margin: auto;
    margin-bottom: 0px;
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

.button button {
     text-decoration: none;
    color: white;
    font-weight: bolder;
    background-color: #5e1d00;
    border: #5e1d00;
    width: 150px;
    padding: 15px;
    color: white;
    border-radius: 30px;
    float: left;
    margin-bottom: 40px;
    margin-right: 20px;
   
}

.filter {
    width: 60%;
    margin: auto; 
    margin-top: 0;
  
}

select {
    width: 250px;
    height: 40px;
    text-align: center;
    color: #5e1d00;
    font-weight: bolder;
    padding: 10px;
    height: 50px;
    background-color: white;
    border: 5px solid #5e1d00;
    border-radius: 30px;
}

.filter {
    font-weight: bolder;
}

.value {
    font-weight: bolder;
    color: #5e1d00;
    text-align: center;
}

.registrations{
    width: 60%;
    margin: auto;

}
.registrations .displayTown {
    display: block;
}

.reg {
    margin: 10px;
    margin-left:-35px;
    color: white;
    width: 210px;
    padding: 15px;
    background-color: #5e1d00;
    font-weight: bolder;
    border-radius: 30px;
    text-align: center;
}

.errors {
    text-align: center;
    color: red;
    font-weight: bold;

}
.success {
    text-align: center;
    color: green;
    font-weight: bold;  
}

.button a {
    color: white;
    text-decoration: none;
}

